<div>
    <form>
         <select ng-model="prop.value" ng-options="v for v in prop.accountTypeData" ng-change="selectedAccountType(prop.value)">
         </select>
        
        
        <div ng-if='sharedService.accountType==="Savings"'>
         <input type="text" name="amount_savings" ng-model="sharedService.amount" placeholder="Amount"><br>
        <input type="text" name="date_savings" ng-model="sharedService.date" placeholder="Date"><br>
        <input type="text" name="maturity_savings" ng-model="sharedService.maturity" placeholder="Maturity"><br>
        </div>
        
        <div ng-if='sharedService.accountType==="Checkings"'>
         <input type="text" name="amount_checkings" ng-model="sharedService.amount" placeholder="Amount"><br>
        <input type="text" name="bic_checkings" ng-model="sharedService.BIC" placeholder="BIC"><br>
        <input type="text" name="iban_checkings" ng-model="sharedService.IBAN" placeholder="IBAN"><br>
        </div>
        <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeDialog()">Cancel</button>
        <button type="submit" class="ngdialog-button ngdialog-button-primary"  ng-click="saveAccounts()">Save</button>
    </form>
 </div>